* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100vh;
    background-image: url('header-bg.png');
    background-position: bottom;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.ctn {
    text-decoration: none;
}

.row .col img {
    width: 80%;
}

.row .col2 img {
    width: 80%;
}

.header-content {
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.line {
    width: 150px;
    height: 4px;
    background: crimson;
    margin: 10px auto;
    border-radius: 5px;
}

.header-content h1 {
    font-size: 7vmin;
    margin-top: 50px;
    margin-bottom: 30px;
}

.ctn {
    padding: 8px 15px;
    background: crimson;
    border-radius: 30px;
    color: whitesmoke;

}

.ppppp {
    margin-bottom: 20px;
}


.event.row {
    margin: 50px;
}

h4 {
    font-size: 3vmin;
    color: #484872;
    margin: 20px auto;
}

.btn {
    margin-top: 15px;
}

.navbar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links li {
    margin: 0 30px;
}

ul {
    list-style: none;
}

.menu-btn {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    cursor: pointer;
    display: none;
}

section {
    width: 80%;
    margin: 80px auto;
}

.title {
    text-align: center;
    font-size: 4vmin;
    color: #49497e;
}

.row {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
}

.col .row {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.explore {
    width: 100%;
    height: 100vh;
    background-image: url('bg2.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}

.explore-content {
    width: 60%;
    padding: 50px;
    color: whitesmoke;

}

.explore-content h1 {
    font-size: 7vmin;
    margin: 50px;
}

.explore-content p {
    color: whitesmoke;
    padding-bottom: 20px;
}

.explore-content .ctn {
    margin-left: 37%;
}

.tours .image-gallery {
    display: flex;
}

.botom {
    display: flex;
}

.imgss {
    width: 20px;
    height: 150px;
}

@media only screen and (max-width:850px) {
    .navbar {
        padding: 0;
    }

    .menu-btn {
        display: block;
    }

    .imgss {
        display: none;
    }

    .logo {
        position: absolute;
        top: 30px;
        left: 30px;
    }

    .nav-links {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: #484872;
        margin-top: -9000px;
        transition: all 0.5s ease;
        font-size: 5vw;
    }

    .mobile-menu {
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }

    .nav-links li {
        margin: 30px auto;
    }
}